<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <% if(locals.id){%>
      <p><%= locals.id %></p>
    <% } %>
    <form method="POST" action="/api/url/create">
      <input name="url" placeholder="https://example.com" type="text" />
      <button type="submit">Generate</button>
    </form>
    <% if(locals.urls){ %>
      <table>
        <thead>
          <tr>
            <th>ShortId</th>
            <th>redirectId</th>
            <th>visitHistory</th>
          </tr>
        </thead>
        <tbody>
          <%locals.urls.forEach(url=>{%>
            <tr>
              <td><%= url.shortId %></td>
              <td><%= url.redirectUrl %></td>
              <td><%= url.visitHistory.length %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </body>
</html>
